<style>
    td {
        padding: 5px 20px 5px 20px;
        width: 250px;
        cursor: pointer;
    }

    .review-row {
        transition: all ease-in-out 0.25s;
        background-color: white;
        color: black;
    }

    .review-row:hover {
        background-color: #808080;
        color: white;
    }
</style>

<div class="row justify-content-center">
    <table>
        <tr class="text-center">
            <td>
                Автор
            </td>
            <td>
                Название
            </td>
            <td>
                Жанр
            </td>
            <td>
                Теги
            </td>
        </tr>
        @foreach (var r in Model.reviews)
        {
            <tr class="border border-dark review-row text-center"
                onclick="location.href='@(Url.Page("ReviewComments", new { id = r.ReviewID }))'">
                <td class="border border-dark">
                    <a class="btn btn-light btn-outline-dark"
                       asp-page="/Home"
                       asp-route-user="@r.ReviewCreatorName"
                       asp-route-p="1">
                        @r.ReviewCreatorName
                    </a>
                </td>
                <td class="border border-dark">
                    @r.ReviewSubjectName
                </td>
                <td class="border border-dark">
                    @r.ReviewSubjectGenre
                </td>
                <td class="border border-dark">
                    @foreach (var t in r.TagRelations)
                    {
                        <a class="btn btn-light btn-outline-dark"
                           asp-page="SearchReviews"
                           asp-route-tag="@t.Tag.TagName"
                           asp-route-p="1"
                           style="margin: 5px">
                            <span class="d-inline-block">@t.Tag.TagName</span>
                        </a>
                    }
                </td>
            </tr>
            @*<div class="col-10 border border-dark text-center" style="margin: 10px">
                <a class="text-muted"
                   asp-area=""
                   asp-page="/Home"
                   asp-route-user="@r.ReviewCreatorName"
                   asp-route-p="1">
                    Автор: @r.ReviewCreatorName
                </a>
                <br />
                <small class="text-muted">Создан: @r.CreationDate</small>
                <br />
                <small class="text-muted">
                    Оценок "Мне нравится":
                    <small class="text-muted" id="likesCount-@r.ReviewID">
                        @Model.GetLikesCount(r.ReviewID)
                    </small>
                </small>
                <hr />
                <h4 style="margin-top: 30px; margin-bottom: 30px">@r.ReviewSubjectName</h4>
                <h5 class="text-muted">@r.ReviewSubjectGenre</h5>
                <hr />
                <p>@r.ReviewText</p>
                <hr />
                <p>Теги:</p>
                <div style="margin-bottom: 30px" class="d-block">
                    @foreach (var t in r.TagRelations)
                    {
                        <a class="btn btn-light btn-outline-dark"
                           asp-page="SearchReviews"
                           asp-route-tag="@t.Tag.TagName"
                           asp-route-p="1">
                            <span class="d-inline-block">@t.Tag.TagName</span>
                        </a>
                    }
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <form id="form-like-@r.ReviewID" onsubmit="return false;">
                        <input type="hidden" name="ReviewID" value="@r.ReviewID" />
                        <input type="hidden" name="CurrentPage" value="@Model.currentPage" />
                        <input type="hidden" name="CurrentTag" value="@Model.currentTag" />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <button id="btn-like-@r.ReviewID"
                                type="submit"
                                style="border: none;
                                       outline: none;
                                       position: absolute;
                                       top: 10px;
                                       right: 10px;
                                       background: none">
                            @if (Model.AlreadyLikedReview(r.ReviewID))
                            {
                                <img id="btn-like-img-@r.ReviewID"
                                     src="https://img.icons8.com/material/24/000000/like--v1.png"
                                     width="25" height="25" />
                            }
                            else
                            {
                                <img id="btn-like-img-@r.ReviewID"
                                     src="https://img.icons8.com/material-outlined/24/000000/like--v1.png"
                                     width="25" height="25" />
                            }
                        </button>
                    </form>
                    if (r.ReviewCreatorName == User.Identity.Name)
                    {
                        <a asp-area=""
                           asp-page="/RemoveReview"
                           asp-route-id="@r.ReviewID"
                           style="position: absolute; top: 10px; right: 45px; ">
                            <img src="https://img.icons8.com/windows/32/000000/trash.png" width="30" height="30" />
                        </a>
                        <a asp-area=""
                           asp-page="/EditReview"
                           asp-route-id="@r.ReviewID"
                           style="position: absolute; top: 10px; right: 75px; ">
                            <img src="https://img.icons8.com/material-outlined/24/000000/edit--v1.png" width="25" height="25" />
                        </a>
                    }
                }
            </div>*@
        }
    </table>
</div>

@*<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $('[id^=btn-like]').on('click', function () {
        var id = $(this).closest('form').serializeArray().reduce(function (obj, item) {
            obj[item.name] = item.value;
            return obj;
        }, {})['ReviewID'];
        $.ajax({
            type: "POST",
            url: "/Home?handler=Like",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            data: id,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                var responseParts = response.split(';');
                $('#likesCount-' + id).text(responseParts[0]);
                if (responseParts[1] == 'True') {
                    $('#btn-like-img-' + id)
                        .attr('src', 'https://img.icons8.com/material-outlined/24/000000/like--v1.png');
                }
                else if (responseParts[1] == 'False') {
                    $('#btn-like-img-' + id)
                        .attr('src', 'https://img.icons8.com/material/24/000000/like--v1.png');
                }
            },
            failure: function (response) {
                alert(response);
            }
        });
        return false;
    })
</script>*@