@page
@model RazorCoursework.Pages.AllReviewsModel
@{
}

<h2>Все обзоры</h2>
<partial name="_ReviewsPagingPartial" />
<hr />
<div class="row justify-content-center">
    @foreach (var r in Model.reviews)
    {
        <div class="col-xl-5 col-lg-5 col-md-5 col-10 border border-dark text-center" style="margin: 10px">
            <h4 style="margin-top: 30px; margin-bottom: 30px">@r.ReviewSubjectName</h4>
            <h5 class="text-muted">@r.ReviewSubjectGenre</h5>
            @*<small class="text-muted">@r.CreationDate</small>*@
            <hr />
            <p>@r.ReviewText</p>
            <hr />
            <p>Теги:</p>
            @foreach (var t in r.TagRelations)
            {
                <p>@t.Tag.TagName</p>
                <a asp-page="SearchReviews" asp-route-id="32">Person</a>
            }
            <div style="margin-bottom: 30px"></div>
        </div>
    }
</div>
<hr />
<partial name="_ReviewsPagingPartial" />
