@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<style>
    td {
        padding: 5px 20px 5px 20px;
        width: 250px;
        cursor: pointer;
    }

    .review-row {
        transition: all ease-in-out 0.25s;
        background-color: white;
        color: black;
    }

        .review-row:hover {
            background-color: #808080;
            color: white;
        }
</style>


<h2 class="text-center">
    Последние обзоры пользователей
</h2>
<div class="row justify-content-center" style="margin-bottom: 20px">
    <table>
        @if (Model.recentReviews.Count > 0)
        {
            <tr class="text-center">
                <td>
                    Автор
                </td>
                <td>
                    Название
                </td>
                <td>
                    Жанр
                </td>
                <td>
                    Теги
                </td>
            </tr>
        }
        @foreach (var r in Model.recentReviews)
        {
            <tr class="border border-dark review-row text-center"
                onclick="location.href='@(Url.Page("ReviewComments", new { id = r.ReviewID }))'">
                <td class="border border-dark">
                    <a class="btn btn-light btn-outline-dark"
                       asp-page="/Home"
                       asp-route-user="@r.ReviewCreatorName"
                       asp-route-p="1">
                        @r.ReviewCreatorName (@Model.GetCreatorLikesCount(r.ReviewCreatorID)
                        <img src="https://img.icons8.com/material/24/000000/like--v1.png"
                             width="15" height="15" />)
                    </a>
                </td>
                <td class="border border-dark">
                    @r.ReviewSubjectName
                </td>
                <td class="border border-dark">
                    @r.ReviewSubjectGenre
                </td>
                <td class="border border-dark">
                    @foreach (var t in r.TagRelations)
                    {
                        <a class="btn btn-light btn-outline-dark"
                           asp-page="SearchReviews"
                           asp-route-tag="@t.Tag.TagName"
                           asp-route-p="1"
                           style="margin: 5px">
                            <span class="d-inline-block">@t.Tag.TagName</span>
                        </a>
                    }
                </td>
            </tr>
        }
    </table>
</div>

<h2 class="text-center">
    Обзоры с самыми большими оценками
</h2>
<div class="row justify-content-center" style="margin-bottom: 20px">
    <table>
        @if (Model.topRatedReviews.Count > 0)
        {
            <tr class="text-center">
                <td>
                    Автор
                </td>
                <td>
                    Название
                </td>
                <td>
                    Жанр
                </td>
                <td>
                    Теги
                </td>
            </tr>
        }
        @for (int i = 0; i < Model.topRatedReviews.Count; i++)
        {
            <tr class="border border-dark review-row text-center"
                onclick="location.href='@(Url.Page("ReviewComments", new { id = Model.topRatedReviews[i].ReviewID }))'">
                <td class="border border-dark">
                    <a class="btn btn-light btn-outline-dark"
                       asp-page="/Home"
                       asp-route-user="@Model.topRatedReviews[i].ReviewCreatorName"
                       asp-route-p="1">
                        @Model.topRatedReviews[i].ReviewCreatorName (@Model.GetCreatorLikesCount(Model.topRatedReviews[i].ReviewCreatorID)
                        <img src="https://img.icons8.com/material/24/000000/like--v1.png"
                             width="15" height="15" />)
                    </a>
                </td>
                <td class="border border-dark">
                    @Model.topRatedReviews[i].ReviewSubjectName (@Model.topRatedReviewLikes[i]
                    <img src="https://img.icons8.com/material/24/000000/like--v1.png"
                         width="15" height="15" />)
                </td>
                <td class="border border-dark">
                    @Model.topRatedReviews[i].ReviewSubjectGenre
                </td>
                <td class="border border-dark">
                    @foreach (var t in Model.topRatedReviews[i].TagRelations)
                    {
                        <a class="btn btn-light btn-outline-dark"
                           asp-page="SearchReviews"
                           asp-route-tag="@t.Tag.TagName"
                           asp-route-p="1"
                           style="margin: 5px">
                            <span class="d-inline-block">@t.Tag.TagName</span>
                        </a>
                    }
                </td>
            </tr>
        }
    </table>
</div>
