@page
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@model RazorCoursework.Pages.RemoveReviewModel
@{
}

<h2>@Localizer["Header"] "@Model.CurrentReviewName"</h2>

<form id="review" method="post">
    <input type="hidden" name="CurrentReviewId" value="@Model.CurrentReviewId" />
    <div asp-validation-summary="All" class="text-danger"></div>
    <h5>
        @Localizer["RemoveConfirmQuestion"]
    </h5>
    <button type="submit" class="btn btn-danger">@Localizer["RemoveConfirm"]</button>
    <a class="btn btn-primary"
       asp-area=""
       asp-page="/Home"
       asp-route-user="@User.Identity.Name"
       asp-route-p="1">
        @Localizer["RemoveCancel"]
    </a>
</form>
