@page
@model RazorCoursework.Pages.ReviewCommentsModel
@{
}

<div class="col-10 border border-dark text-center" style="margin: 10px">
    <a class="text-muted"
       asp-area=""
       asp-page="/Home"
       asp-route-user="@Model.Review.ReviewCreatorName"
       asp-route-p="1">
        Автор: @Model.Review.ReviewCreatorName
    </a>
    <br />
    <small class="text-muted">Создан: @Model.Review.CreationDate</small>
    <hr />
    <h4 style="margin-top: 30px; margin-bottom: 30px">@Model.Review.ReviewSubjectName</h4>
    <h5 class="text-muted">@Model.Review.ReviewSubjectGenre</h5>
    <hr />
    <p>@Model.Review.ReviewText</p>
    <hr />
    <p>Теги:</p>
    <div style="margin-bottom: 30px" class="d-block">
        @foreach (var t in Model.Review.TagRelations)
        {
            <a class="btn btn-light btn-outline-dark"
               asp-page="SearchReviews"
               asp-route-tag="@t.Tag.TagName"
               asp-route-p="1">
                <span class="d-inline-block">@t.Tag.TagName</span>
            </a>
        }
    </div>
</div>